<!DOCTYPE html>
<html>
<head>
  <title>Friendzone</title>
  <%= csrf_meta_tags %>
</head>
<body>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>	

<%= yield %>

</body>
</html>
